DATA_SOURCE=mock
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
SHAREPOINT_SITE_ID=
SHAREPOINT_ORCAMENTOS_LIST_ID=
SHAREPOINT_ITENS_IMPORTADOS_LIST_ID=
SHAREPOINT_MATERIAIS_OFICIAIS_LIST_ID=
SHAREPOINT_FIELD_MAP_JSON=
