.env
.env.*
!.env.example

.git
.github
.idea
.vscode

target/*
!target/orcamentos-auth-service-*.jar
*.log
logs

*.tmp
*.temp
*.swp
*~

docs
HELP.md
README.md
qodana.yaml

docker-compose*.yml
docker-compose*.yaml
