# Secrets
.env
.env.*
!.env.example

# Git
.git
.github

# IDE
.idea
.vscode

# Build artifacts
target/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
*.swp
*~

# Documentation
docs/
HELP.md
README.md
qodana.yaml

# Docker Compose
docker-compose*.yml
docker-compose*.yaml